In [1]:
#Scrapping
from bs4 import BeautifulSoup
import requests
#formato y filtros
import numpy as np
import pandas as pd
#preprocesamiento
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
import unidecode

https://fcpython.com/blog/introduction-scraping-data-transfermarkt

Se sigue el link anterior como tutorial para scrapear la info.

headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2000"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

#Let's look at the first name in the Players list.
print(Players[0].text)

Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

print(Values[0].text)

PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

El codigo anterior ejemplifica el scrapping para obtener el nombre del jugador y el costo de su traspaso, ordenado de mayor a menor traspaso durante el anio 2000

# 2018

In [2]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2018 = [urls['href'] for urls in lista_de_interes]
urls_2018 = pd.Series(urls_2018).unique()

In [4]:
#check de numero de equipos
len(urls_2018)

26

In [5]:
# ligas para ir al equipo de interes.
urls_2018

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2018',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2018',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2018',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2018',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2018',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2018',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2018',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2018',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2018',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2018',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2018',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2018',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2018',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2018',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2018',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2018',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2018',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2018',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2018',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2018',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2018',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2018',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2018',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2018',
       '/club-atletico-san-martin-tucuman-/startseite/verein/12709/saison_id/2018',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2018'],
      dtype=object)

In [6]:
requests.get(url_madre+urls_2018[0], headers=headers)

# 2017

In [7]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2017"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [8]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2017 = [urls['href'] for urls in lista_de_interes]
urls_2017 = pd.Series(urls_2017).unique()

In [9]:
#check de numero de equipos
len(urls_2017)

28

In [10]:
# ligas para ir al equipo de interes.
urls_2017

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2017',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2017',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2017',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2017',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2017',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2017',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2017',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2017',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2017',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2017',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2017',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2017',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2017',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2017',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2017',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2017',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2017',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2017',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2017',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2017',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2017',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2017',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2017',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2017',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2017',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2017',
       '/club-atletico-chacarita-juniors/startseite/verein/2154/saison_id/2017',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2017'],
      dtype=object)

In [11]:
requests.get(url_madre+urls_2017[0], headers=headers)

# 2016

In [12]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2016"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [13]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2016 = [urls['href'] for urls in lista_de_interes]
urls_2016 = pd.Series(urls_2016).unique()

In [14]:
#check de numero de equipos
len(urls_2016)

30

In [15]:
# ligas para ir al equipo de interes.
urls_2016

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2016',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2016',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2016',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2016',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2016',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2016',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2016',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2016',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2016',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2016',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2016',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2016',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2016',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2016',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2016',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2016',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2016',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2016',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2016',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2016',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2016',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2016',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2016',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2016',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2016',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2016',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2016',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2016',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2016',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2016'],
      dtype=object)

In [16]:
requests.get(url_madre+urls_2017[0], headers=headers)

# 2015

In [17]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2015"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [18]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2015 = [urls['href'] for urls in lista_de_interes]
urls_2015 = pd.Series(urls_2015).unique()

In [19]:
#check de numero de equipos
len(urls_2015)

30

In [20]:
# ligas para ir al equipo de interes.
urls_2015

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2015',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2015',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2015',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2015',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2015',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2015',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2015',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2015',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2015',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2015',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2015',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2015',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2015',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2015',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2015',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2015',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2015',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2015',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2015',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2015',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2015',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2015',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2015',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2015',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2015',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2015',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2015',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2015',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2015',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2015'],
      dtype=object)

In [21]:
requests.get(url_madre+urls_2015[0], headers=headers)

# Valor jugadores 
Ya que tengo las URLS de interes de cada equipo ahora falta recopilar la informacion de cada jugador en un DataFrame que tenga las columnas de jugador, valor, equipo y fecha de nacimiento.

# 2018

In [215]:
# pageTree = requests.get(url_madre+urls_2018[25], headers=headers)
# pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
# #     print(url_madre+url)

# # tabla de jugadores con cuadrito de jugador
# Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
# # cuadrito de valor
# Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

# Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

# # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
# # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
# PlayersList = []
# preview = 'nada'
# for i in range(len(Players)):
#     if len(Players[i].text.split()) == 2:
#         if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[1]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     elif len(Players[i].text.split()) == 3:
#         if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[2]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     else:
#         continue
# # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
# ValuesList = [Values[val].text for val in range(len(Values))]
# #extraccion de fecha de nacimiento
# FecNacLIst = []
# for i in Fec_Nac:
#     if len(i.text.split()) == 0:
#         continue
#     else:
#         try:
#             FecNacLIst.append(pd.to_datetime(i.text.split()[0]))
#         except ValueError:
#             continue

# # se generan dataframes para cruzar
# a = pd.DataFrame(PlayersList,columns=['jugadores'])
# b = pd.DataFrame(ValuesList,columns=['valor'])
# c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
# #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
# df = pd.concat([a,b,c],1).dropna()
# print(pageSoup.find_all("h1")[0].text.split('\n')[1])
# df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
# df_2018 = pd.concat([df_2018, df])

In [216]:
%%time
df_2018 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2018:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2018 = pd.concat([df_2018, df])

Club Atlético Boca Juniors

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:62: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético River Plate
Club Atlético Independiente
Racing Club
Club Atlético Vélez Sarsfield
Defensa y Justicia
Club Atlético San Lorenzo de Almagro
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético Talleres
Club Atlético Lanús
Club Atlético Rosario Central
Club Atlético Colón
Club Atlético Huracán
Asociación Atlética Argentinos Juniors
Club Atlético Unión (Santa Fe)
Club Atlético Belgrano
Club Atlético Tigre
Club Atlético Aldosivi
Club Atlético Banfield
Club Atlético Newell's Old Boys
Club Estudiantes de La Plata
Club de Gimnasia y Esgrima La Plata
Club Atlético Tucumán
Club Atlético San Martín (SJ)
Club Atlético San Martín (Tucumán)
Club Atlético Patronato
CPU times: user 6.36 s, sys: 36.1 ms, total: 6.39 s
Wall time: 46.1 s

In [217]:
df_2018.reset_index(drop=True,inplace=True)
df_2018.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2018.valor.str.split().str[0], df_2018.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2018['value_2018'] = new_value

In [218]:
df_2018.sample(5)

,equipo,fecha_nacimiento,jugadores,valor,value_2018
578,Club de Gimnasia y Esgrima La Plata,1993-03-29,Lorenzo Faravelli,"1,50 mill. €",1.50
245,Club Atlético Talleres,1996-09-15,Joel Soñora,200 miles €,0.20
650,Club Atlético San Martín (Tucumán),1981-05-07,Jorge Carranza,50 miles €,0.05
26,Club Atlético Boca Juniors,1987-03-18,Mauro Zárate,"2,00 mill. €",2.00
594,Club Atlético Tucumán,1978-06-26,Cristian Lucchetti,100 miles €,0.10

# 2017

In [219]:
# pageTree = requests.get(url_madre+urls_2017[5], headers=headers)
# pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
# #     print(url_madre+url)

# # tabla de jugadores con cuadrito de jugador
# Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
# # cuadrito de valor
# Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

# Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

# # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
# # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
# PlayersList = []
# preview = 'nada'
# for i in range(len(Players)):
#     if len(Players[i].text.split()) == 2:
#         if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[1]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     elif len(Players[i].text.split()) == 3:
#         if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[2]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     else:
#         continue
# # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
# ValuesList = [Values[val].text for val in range(len(Values))]
# #extraccion de fecha de nacimiento
# FecNacLIst = []
# for i in Fec_Nac:
#     if len(i.text.split()) == 0:
#         continue
#     else:
#         try:
#             FecNacLIst.append(pd.to_datetime(i.text.split()[0]))
#         except ValueError:
#             continue

# # se generan dataframes para cruzar
# a = pd.DataFrame(PlayersList,columns=['jugadores'])
# b = pd.DataFrame(ValuesList,columns=['valor'])
# c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
# #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
# df = pd.concat([a,b,c],1).dropna()
# print(pageSoup.find_all("h1")[0].text.split('\n')[1])
# df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
# df_2017 = pd.concat([df_2017, df])

In [220]:
%%time
df_2017 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2017:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2017 = pd.concat([df_2017, df])

Club Atlético River Plate

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético Boca Juniors
Club Atlético Independiente
Racing Club
Club Atlético San Lorenzo de Almagro
Club Atlético Lanús
Club Atlético Colón
Club Atlético Huracán
Club Atlético Rosario Central
Club Estudiantes de La Plata
Club Atlético Vélez Sarsfield
Defensa y Justicia
Club Atlético Tucumán
Club Atlético Talleres
Club Atlético Belgrano
Club Atlético Tigre
Club Atlético Newell's Old Boys
Club Atlético Banfield
Club de Gimnasia y Esgrima La Plata
Club Atlético Unión (Santa Fe)
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético San Martín (SJ)
Club Atlético Patronato
Arsenal Fútbol Club
Asociación Atlética Argentinos Juniors
Club Olimpo
Club Atlético Chacarita Juniors
Club Atlético Temperley
CPU times: user 6.45 s, sys: 31.5 ms, total: 6.48 s
Wall time: 1min 5s

In [221]:
df_2017.reset_index(drop=True,inplace=True)
df_2017.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2017.valor.str.split().str[0], df_2017.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2017['value_2017'] = new_value

In [222]:
df_2017['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2017.jugadores]

df_2017.to_pickle('df_2017.pkl')

In [223]:
df_2017.tail()

,equipo,fecha_nacimiento,jugadores,valor,value_2017
1075,Club Atlético Temperley,1987-10-02,Juan Sanchez,400 miles €,0.4
1076,Club Atlético Temperley,1992-08-21,Ramiro Costa,300 miles €,0.3
1077,Club Atlético Temperley,1995-05-03,Santiago Giordana,200 miles €,0.2
1078,Club Atlético Temperley,1999-09-19,Franco Sosa,NaN,NaN
1079,Club Atlético Temperley,1995-03-24,Lucas Delgado,NaN,NaN

# 2016

In [224]:
%%time
df_2016 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2016:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2016 = pd.concat([df_2016, df])

Club Atlético River Plate

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético Boca Juniors
Racing Club
Club Atlético San Lorenzo de Almagro
Club Atlético Independiente
Club Atlético Rosario Central
Club Estudiantes de La Plata
Club Atlético Newell's Old Boys
Club de Gimnasia y Esgrima La Plata
Club Atlético Vélez Sarsfield
Club Atlético Lanús
Club Atlético Belgrano
Defensa y Justicia
Club Atlético Tucumán
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético Colón
Club Atlético Talleres
Club Atlético Huracán
Arsenal Fútbol Club
Club Atlético Tigre
Club Atlético Banfield
Club Atlético San Martín (SJ)
Club Atlético Sarmiento (Junin)
Quilmes Atlético Club
Club Atlético Temperley
Club Atlético Unión (Santa Fe)
Club Olimpo
Club Atlético Aldosivi
Club Atlético Patronato
Atlético de Rafaela
CPU times: user 6.88 s, sys: 68.1 ms, total: 6.95 s
Wall time: 1min 14s

In [225]:
df_2016.reset_index(drop=True,inplace=True)
df_2016.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2016.valor.str.split().str[0], df_2016.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2016['value_2016'] = new_value

In [226]:
df_2016['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2016.jugadores]

df_2016.to_pickle('df_2016.pkl')

In [227]:
df_2016.tail()

,equipo,fecha_nacimiento,jugadores,valor,value_2016
1225,Atlético de Rafaela,1996-01-16,Enzo Copetti,NaN,NaN
1226,Atlético de Rafaela,1989-11-11,Robin Ramirez,750 miles €,0.75
1227,Atlético de Rafaela,1992-06-06,Leandro Diaz,600 miles €,0.60
1228,Atlético de Rafaela,1992-08-21,Ramiro Costa,300 miles €,0.30
1229,Atlético de Rafaela,1986-09-20,Sergio Almiron,NaN,NaN

# 2015

In [228]:
df_2015 =None

In [229]:
%%time
df_2015 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2015:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst, columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2015 = pd.concat([df_2015, df])

Club Atlético Boca Juniors

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:64: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético River Plate
Club Atlético San Lorenzo de Almagro
Club Atlético Independiente
Racing Club
Club Atlético Lanús
Arsenal Fútbol Club
Club Atlético Newell's Old Boys
Club Atlético Tigre
Club Atlético Rosario Central
Club Atlético Belgrano
Club Atlético Huracán
Club de Gimnasia y Esgrima La Plata
Club Estudiantes de La Plata
Club Atlético Colón
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético San Martín (SJ)
Defensa y Justicia
Club Atlético Sarmiento (Junin)
Quilmes Atlético Club
Club Olimpo
Club Atlético Banfield
Club Atlético Tucumán
Asociación Atlética Argentinos Juniors
Club Atlético Vélez Sarsfield
Atlético de Rafaela
Club Atlético Unión (Santa Fe)
Club Atlético Temperley
Club Atlético Aldosivi
Club Atlético Patronato
CPU times: user 5.93 s, sys: 63.7 ms, total: 5.99 s
Wall time: 1min 7s

In [230]:
df_2015.reset_index(drop=True,inplace=True)
df_2015.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2015.valor.str.split().str[0], df_2015.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2015['value_2015'] = new_value

In [231]:
df_2015['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2015.jugadores]

df_2015.to_pickle('df_2015.pkl')

In [232]:
df_2015.head()

,equipo,fecha_nacimiento,jugadores,valor,value_2015
0,Club Atlético Boca Juniors,1981-06-26,Agustin Orion,"1,00 mill. €",1.000
1,Club Atlético Boca Juniors,1987-09-30,Guillermo Sara,"1,00 mill. €",1.000
2,Club Atlético Boca Juniors,1994-05-08,Bruno Galvan,25 miles €,0.025
3,Club Atlético Boca Juniors,1991-04-18,Ramiro Martinez,NaN,NaN
4,Club Atlético Boca Juniors,1989-10-18,Fernando Tobio,"2,00 mill. €",2.000

In [233]:
df_2015[df_2015.jugadores == 'Tabare Viudez']

,equipo,fecha_nacimiento,jugadores,valor,value_2015
73,Club Atlético River Plate,1989-09-08,Tabare Viudez,"4,25 mill. €",4.25

In [234]:
urls_2015

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2015',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2015',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2015',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2015',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2015',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2015',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2015',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2015',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2015',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2015',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2015',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2015',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2015',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2015',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2015',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2015',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2015',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2015',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2015',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2015',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2015',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2015',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2015',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2015',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2015',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2015',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2015',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2015',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2015',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2015'],
      dtype=object)

In [236]:
df_2015

,equipo,fecha_nacimiento,jugadores,valor,value_2015
0,Club Atlético Boca Juniors,1981-06-26,Agustin Orion,"1,00 mill. €",1.000
1,Club Atlético Boca Juniors,1987-09-30,Guillermo Sara,"1,00 mill. €",1.000
2,Club Atlético Boca Juniors,1994-05-08,Bruno Galvan,25 miles €,0.025
3,Club Atlético Boca Juniors,1991-04-18,Ramiro Martinez,NaN,NaN
4,Club Atlético Boca Juniors,1989-10-18,Fernando Tobio,"2,00 mill. €",2.000
5,Club Atlético Boca Juniors,1989-02-07,Alexis Rolin,"1,50 mill. €",1.500
6,Club Atlético Boca Juniors,1984-10-03,Juan Insaurralde,"1,00 mill. €",1.000
7,Club Atlético Boca Juniors,1993-09-27,Lisandro Magallan,800 miles €,0.800
8,Club Atlético Boca Juniors,1979-07-13,Cata Diaz,500 miles €,0.500
9,Club Atlético Boca Juniors,1996-04-16,Christian Moreno,NaN,NaN
10,Club Atlético Boca Juniors,1994-06-29,Jonathan Silva,"4,00 mill. €",4.000
11,Club Atlético Boca Juniors,1991-02-22,Frank Fabra,250 miles €,0.250
12,Club Atlético Boca Juniors,1997-01-25,Pedro Silva Torrejon,NaN,NaN
13,Club Atlético Boca Juniors,1992-06-09,Gino Peruzzi,"4,00 mill. €",4.000
14,Club Atlético Boca Juniors,1991-05-20,Leonardo Jara,500 miles €,0.500
15,Club Atlético Boca Juniors,1998-04-06,Nahuel Molina,NaN,NaN
16,Club Atlético Boca Juniors,1990-01-06,Cristian Erbes,"1,00 mill. €",1.000
17,Club Atlético Boca Juniors,1996-05-22,Andres Cubas,400 miles €,0.400
18,Club Atlético Boca Juniors,1998-01-13,Julian Chicco,NaN,NaN
19,Club Atlético Boca Juniors,1986-04-10,Fernando Gago,"3,40 mill. €",3.400
20,Club Atlético Boca Juniors,1985-08-10,Pablo Perez,"1,25 mill. €",1.250
21,Club Atlético Boca Juniors,1990-07-08,Nicolas Colazo,"1,25 mill. €",1.250
22,Club Atlético Boca Juniors,1992-06-20,Marcelo Meli,750 miles €,0.750
23,Club Atlético Boca Juniors,1991-11-27,Fernando Zuqui,500 miles €,0.500
24,Club Atlético Boca Juniors,1997-06-25,Rodrigo Bentancur,NaN,NaN
25,Club Atlético Boca Juniors,1989-03-21,Nicolas Lodeiro,"2,00 mill. €",2.000
26,Club Atlético Boca Juniors,1997-05-13,Alexis Messidoro,NaN,NaN
27,Club Atlético Boca Juniors,1999-03-18,Gonzalo Maroni,NaN,NaN
28,Club Atlético Boca Juniors,1991-05-17,Federico Carrizo,750 miles €,0.750
29,Club Atlético Boca Juniors,1992-01-20,Sebastian Palacios,500 miles €,0.500
30,Club Atlético Boca Juniors,1996-01-21,Cristian Pavon,NaN,NaN
31,Club Atlético Boca Juniors,1984-02-05,Carlos Tevez,"23,00 mill. €",23.000
32,Club Atlético Boca Juniors,1986-01-12,Daniel Osvaldo,"8,00 mill. €",8.000
33,Club Atlético Boca Juniors,1991-03-21,Andres Chavez,"3,50 mill. €",3.500
34,Club Atlético Boca Juniors,1990-05-17,Dario Benedetto,"1,80 mill. €",1.800
35,Club Atlético Boca Juniors,1993-08-25,Walter Bou,200 miles €,0.200
36,Club Atlético Boca Juniors,1996-03-01,Nicolas Benegas,NaN,NaN
37,Club Atlético River Plate,1984-02-18,Marcelo Barovero,"2,00 mill. €",2.000
38,Club Atlético River Plate,1982-02-13,Enrique Bologna,600 miles €,0.600
39,Club Atlético River Plate,1982-03-04,Julio Chiarini,100 miles €,0.100
40,Club Atlético River Plate,1996-04-30,Augusto Batalla,100 miles €,0.100
41,Club Atlético River Plate,1995-03-08,Maximiliano Velazco,NaN,NaN
42,Club Atlético River Plate,1993-02-28,Eder Balanta,"6,00 mill. €",6.000
43,Club Atlético River Plate,1991-03-05,Ramiro Funes Mori,"4,00 mill. €",4.000
44,Club Atlético River Plate,1987-03-18,Gabriel Mercado,"2,50 mill. €",2.500
45,Club Atlético River Plate,1990-10-08,Arturo Mina,"1,20 mill. €",1.200
46,Club Atlético River Plate,1985-07-29,Jonathan Maidana,"1,00 mill. €",1.000
47,Club Atlético River Plate,1996-02-10,Emanuel Mammana,250 miles €,0.250
48,Club Atlético River Plate,1998-09-15,Kevin Sibille,NaN,NaN
49,Club Atlético River Plate,1996-05-27,Leandro Vega,NaN,NaN
50,Club Atlético River Plate,1987-05-05,Leonel Vangioni,"3,00 mill. €",3.000
51,Club Atlético River Plate,1988-04-11,Milton Casco,"1,30 mill. €",1.300
52,Club Atlético River Plate,1998-10-24,Luis Olivera,NaN,NaN
53,Club Atlético River Plate,1995-03-03,Pablo Carreras,NaN,NaN
54,Club Atlético River Plate,1990-02-01,Jorge Moreira,NaN,NaN
55,Club Atlético River Plate,1997-01-01,Gonzalo Montiel,NaN,NaN
56,Club Atlético River Plate,1993-05-21,Matias Kranevitter,"2,00 mill. €",2.000
57,Club Atlético River Plate,1982-01-29,Leonardo Ponzio,"1,20 mill. €",1.200
58,Club Atlético River Plate,1985-08-04,Nicolas Domingo,750 miles €,0.750
59,Club Atlético River Plate,1993-05-18,Joaquin Arzura,450 miles €,0.450
60,Club Atlético River Plate,1981-01-19,Lucho Gonzalez,"5,00 mill. €",5.000
61,Club Atlético River Plate,1990-01-12,Ignacio Fernandez,500 miles €,0.500
62,Club Atlético River Plate,1996-02-22,Zacarias Moran,NaN,NaN
63,Club Atlético River Plate,1998-10-05,Exequiel Palacios,NaN,NaN
64,Club Atlético River Plate,1984-12-02,Carlos Sanchez,"2,00 mill. €",2.000
65,Club Atlético River Plate,1991-01-08,Camilo Mayada,"1,25 mill. €",1.250
66,Club Atlético River Plate,1992-01-03,Augusto Solari,500 miles €,0.500
67,Club Atlético River Plate,1981-04-15,Andres D'Alessandro,"3,00 mill. €",3.000
68,Club Atlético River Plate,1984-01-18,Leonardo Pisculichi,"1,50 mill. €",1.500
69,Club Atlético River Plate,1996-11-16,Tomas Andrade,NaN,NaN
70,Club Atlético River Plate,1986-01-02,Nicolas Bertolo,"1,80 mill. €",1.800
71,Club Atlético River Plate,1996-02-28,Lucas Boye,500 miles €,0.500
72,Club Atlético River Plate,1993-06-13,Gonzalo Martinez,NaN,NaN
73,Club Atlético River Plate,1989-09-08,Tabare Viudez,"4,25 mill. €",4.250
74,Club Atlético River Plate,1998-04-01,Franco Lopez,NaN,NaN
75,Club Atlético River Plate,1981-12-11,Javier Saviola,"1,00 mill. €",1.000
76,Club Atlético River Plate,1987-10-29,Rodrigo Mora,"2,40 mill. €",2.400
77,Club Atlético River Plate,1988-08-16,Marcelo Larrondo,600 miles €,0.600
78,Club Atlético River Plate,1996-02-09,Sebastian Driussi,500 miles €,0.500
79,Club Atlético River Plate,1979-04-10,Ivan Alonso,100 miles €,0.100
80,Club Atlético River Plate,1992-10-08,Lucas Alario,50 miles €,0.050
81,Club Atlético River Plate,1996-04-26,Nicolas Franco,NaN,NaN
82,Club Atlético San Lorenzo de Almagro,1980-02-22,Sebastian Torrico,500 miles €,0.500
83,Club Atlético San Lorenzo de Almagro,1985-03-25,Nicolas Navarro,150 miles €,0.150
84,Club Atlético San Lorenzo de Almagro,1995-07-09,Jose Devecchi,100 miles €,0.100
85,Club Atlético San Lorenzo de Almagro,1995-03-29,Alvaro Montero,NaN,NaN
86,Club Atlético San Lorenzo de Almagro,1991-04-23,Pedro Franco,"4,50 mill. €",4.500
87,Club Atlético San Lorenzo de Almagro,1982-01-22,Fabricio Coloccini,"2,50 mill. €",2.500
88,Club Atlético San Lorenzo de Almagro,1983-04-07,Marcos Angeleri,"1,00 mill. €",1.000
89,Club Atlético San Lorenzo de Almagro,1984-08-15,Matias Caruzzo,700 miles €,0.700
90,Club Atlético San Lorenzo de Almagro,1994-08-25,Paulo Diaz,NaN,NaN
91,Club Atlético San Lorenzo de Almagro,1994-09-28,Rodrigo Tapia,NaN,NaN
92,Club Atlético San Lorenzo de Almagro,1989-01-15,Emmanuel Mas,"2,50 mill. €",2.500
93,Club Atlético San Lorenzo de Almagro,1994-10-07,Lautaro Montoya,NaN,NaN
94,Club Atlético San Lorenzo de Almagro,1988-08-18,Julio Buffarini,"1,70 mill. €",1.700
95,Club Atlético San Lorenzo de Almagro,1985-09-28,Gonzalo Prosperi,650 miles €,0.650
96,Club Atlético San Lorenzo de Almagro,1986-05-08,Mathias Corujo,450 miles €,0.450
97,Club Atlético San Lorenzo de Almagro,1995-07-28,Brian Mieres,NaN,NaN
98,Club Atlético San Lorenzo de Almagro,1992-04-19,Franco Mussis,"1,25 mill. €",1.250
99,Club Atlético San Lorenzo de Almagro,1980-02-02,Juan Mercier,350 miles €,0.350
...,...,...,...,...,...
934,Club Atlético Unión (Santa Fe),1993-05-06,Manuel De Iriondo,50 miles €,0.050
935,Club Atlético Unión (Santa Fe),1993-02-20,Mauricio Martinez,NaN,NaN
936,Club Atlético Unión (Santa Fe),1988-10-22,Fausto Montero,50 miles €,0.050
937,Club Atlético Unión (Santa Fe),1994-08-08,Mauro Pitton,NaN,NaN
938,Club Atlético Unión (Santa Fe),1981-04-25,Diego Villar,600 miles €,0.600
939,Club Atlético Unión (Santa Fe),1993-01-28,Santiago Naguel,500 miles €,0.500
940,Club Atlético Unión (Santa Fe),1995-09-29,Lucas Algozino,NaN,NaN
941,Club Atlético Unión (Santa Fe),1987-07-24,Victor Malcorra,350 miles €,0.350
942,Club Atlético Unión (Santa Fe),1985-02-02,Martin Rolle,"1,50 mill. €",1.500
943,Club Atlético Unión (Santa Fe),1995-11-21,Matias Fantin,NaN,NaN
944,Club Atlético Unión (Santa Fe),1994-11-29,Tomas Bolzicco,NaN,NaN
945,Club Atlético Unión (Santa Fe),1990-12-05,Julio Rodriguez,200 miles €,0.200
946,Club Atlético Unión (Santa Fe),1988-08-04,Claudio Riano,750 miles €,0.750
947,Club Atlético Unión (Santa Fe),1991-12-18,M. Castro,400 miles €,0.400
948,Club Atlético Unión (Santa Fe),1987-06-24,Lucas Gamba,250 miles €,0.250
949,Club Atlético Unión (Santa Fe),1999-09-22,Nicolas Andereggen,NaN,NaN
950,Club Atlético Unión (Santa Fe),1994-09-14,Franco Soldano,NaN,NaN
951,Club Atlético Temperley,1982-01-28,Federico Crivelli,NaN,NaN
952,Club Atlético Temperley,1988-08-03,Leandro De Bortoli,NaN,NaN
953,Club Atlético Temperley,1981-11-11,Gaston Aguirre,500 miles €,0.500
954,Club Atlético Temperley,1986-02-22,Ignacio Boggino,500 miles €,0.500
955,Club Atlético Temperley,1985-04-23,Gaston Bojanich,NaN,NaN
956,Club Atlético Temperley,1989-01-30,Leandro Sapetti,400 miles €,0.400
957,Club Atlético Temperley,1993-03-24,Patricio Romero,NaN,NaN
958,Club Atlético Temperley,1997-03-16,Gonzalo Escobar,NaN,NaN
959,Club Atlético Temperley,1994-05-08,Alexis Zarate,400 miles €,0.400
960,Club Atlético Temperley,1988-02-09,Christian Chimino,200 miles €,0.200
961,Club Atlético Temperley,1991-11-12,Nahuel Peralta,NaN,NaN
962,Club Atlético Temperley,1987-08-18,Matias Sanchez,750 miles €,0.750
963,Club Atlético Temperley,1992-08-12,Adrian Arregui,NaN,NaN
964,Club Atlético Temperley,1989-09-17,Abel Peralta,250 miles €,0.250
965,Club Atlético Temperley,1987-08-25,Cristian Canuhe,600 miles €,0.600
966,Club Atlético Temperley,1991-08-18,Martin Perez Guedes,750 miles €,0.750
967,Club Atlético Temperley,1981-05-20,Leonardo di Lorenzo,475 miles €,0.475
968,Club Atlético Temperley,1990-01-01,Gaston Rodas,NaN,NaN
969,Club Atlético Temperley,1993-04-11,Ariel Rojas,NaN,NaN
970,Club Atlético Temperley,1993-01-30,Gabriel Esparza,NaN,NaN
971,Club Atlético Temperley,1990-03-27,Fernando Brandan,NaN,NaN
972,Club Atlético Temperley,1986-04-15,Ariel Colzera,300 miles €,0.300
973,Club Atlético Temperley,1982-10-17,Ruben Ramirez,750 miles €,0.750
974,Club Atlético Temperley,1990-01-18,Marcos Figueroa,400 miles €,0.400
975,Club Atlético Temperley,1992-01-30,Gonzalo Rios,NaN,NaN
976,Club Atlético Temperley,1991-04-09,Cristian Tarragona,NaN,NaN
977,Club Atlético Aldosivi,1977-10-17,Pablo Campodonico,200 miles €,0.200
978,Club Atlético Aldosivi,1986-04-18,Matias Vega,25 miles €,0.025
979,Club Atlético Aldosivi,1994-06-04,Ariel Bulasio,NaN,NaN
980,Club Atlético Aldosivi,1992-08-09,Guillermo Ortiz,400 miles €,0.400
981,Club Atlético Aldosivi,1982-05-21,Damian Ledesma,400 miles €,0.400
982,Club Atlético Aldosivi,1984-10-30,Federico Leon,150 miles €,0.150
983,Club Atlético Aldosivi,1995-01-25,Emiliano Borjas,NaN,NaN
984,Club Atlético Aldosivi,1992-06-25,Jonathan Galvan,NaN,NaN
985,Club Atlético Aldosivi,1989-09-17,Franco Canever,150 miles €,0.150
986,Club Atlético Aldosivi,1993-01-06,Ramiro Arias,150 miles €,0.150
987,Club Atlético Aldosivi,1988-10-02,Ismael Quilez,750 miles €,0.750
988,Club Atlético Aldosivi,1981-03-26,Gaston Diaz,150 miles €,0.150
989,Club Atlético Aldosivi,1997-05-09,Nahuel Pajaro,NaN,NaN
990,Club Atlético Aldosivi,1984-05-03,Hernan Lamberti,NaN,NaN
991,Club Atlético Aldosivi,1990-03-21,Raul Poclaba,200 miles €,0.200
992,Club Atlético Aldosivi,1989-11-13,Martin Rivero,175 miles €,0.175
993,Club Atlético Aldosivi,1986-06-26,Cristian Llama,600 miles €,0.600
994,Club Atlético Aldosivi,1984-01-23,Nicolas Castro,750 miles €,0.750
995,Club Atlético Aldosivi,1997-03-06,Ramiro Garay,NaN,NaN
996,Club Atlético Aldosivi,1995-03-22,Santiago Rosales,NaN,NaN
997,Club Atlético Aldosivi,1982-03-10,Pablo Luguercio,400 miles €,0.400
998,Club Atlético Aldosivi,1989-07-03,Neri Bandiera,NaN,NaN
999,Club Atlético Aldosivi,1993-03-12,Matias Rosso,NaN,NaN
1000,Club Atlético Aldosivi,1981-12-09,Angel Vildozo,650 miles €,0.650
1001,Club Atlético Aldosivi,1983-09-22,Sebastian Penco,500 miles €,0.500
1002,Club Atlético Aldosivi,1994-08-28,Juan Dinenno,375 miles €,0.375
1003,Club Atlético Aldosivi,1996-11-22,Lucas Di Yorio,NaN,NaN
1004,Club Atlético Patronato,1977-10-16,Sebastian Bertoli,200 miles €,0.200
1005,Club Atlético Patronato,1983-11-15,Agustin Bossio,50 miles €,0.050
1006,Club Atlético Patronato,1988-10-08,Federico Costa,NaN,NaN
1007,Club Atlético Patronato,1987-05-08,Jonathan Ferrari,800 miles €,0.800
1008,Club Atlético Patronato,1988-01-06,Abel Masuero,500 miles €,0.500
1009,Club Atlético Patronato,1979-05-20,Ivan Furios,150 miles €,0.150
1010,Club Atlético Patronato,1984-12-01,Walter Andrade,100 miles €,0.100
1011,Club Atlético Patronato,1993-06-10,Alexander Hollmann,NaN,NaN
1012,Club Atlético Patronato,1981-11-10,Ezequiel Garre,150 miles €,0.150
1013,Club Atlético Patronato,1988-10-25,Lucas Marquez,75 miles €,0.075
1014,Club Atlético Patronato,1991-03-02,Lautaro Geminiani,NaN,NaN
1015,Club Atlético Patronato,1986-03-26,Fernando de la Fuente,450 miles €,0.450
1016,Club Atlético Patronato,1989-01-31,Damian Lemos,250 miles €,0.250
1017,Club Atlético Patronato,1989-06-09,Nicolas Bertocchi,125 miles €,0.125
1018,Club Atlético Patronato,1989-04-17,Marcos Minetti,NaN,NaN
1019,Club Atlético Patronato,1993-11-16,Tomas Spinelli,NaN,NaN
1020,Club Atlético Patronato,1985-02-16,Marcelo Guzman,200 miles €,0.200
1021,Club Atlético Patronato,1990-01-05,Alejandro Almada,NaN,NaN
1022,Club Atlético Patronato,1990-11-28,Marcos Quiroga,NaN,NaN
1023,Club Atlético Patronato,1986-02-02,Matias Garrido,NaN,NaN
1024,Club Atlético Patronato,1993-06-29,Damian Pacco,NaN,NaN
1025,Club Atlético Patronato,1991-10-15,Mauricio Escobar,NaN,NaN
1026,Club Atlético Patronato,1987-09-24,Mauricio Carrasco,400 miles €,0.400
1027,Club Atlético Patronato,1996-05-30,Mauro Marconato,NaN,NaN
1028,Club Atlético Patronato,1992-07-02,Facundo Callejo,750 miles €,0.750
1029,Club Atlético Patronato,1989-04-17,Leonardo Acosta,NaN,NaN
1030,Club Atlético Patronato,1995-01-15,Lautaro Comas,NaN,NaN
1031,Club Atlético Patronato,1981-10-06,Fernando Telechea,400 miles €,0.400
1032,Club Atlético Patronato,1986-04-14,Matias Quiroga,150 miles €,0.150
1033,Club Atlético Patronato,1986-07-08,Matias Donoso,NaN,NaN