In [1]:
#Scrapping
from bs4 import BeautifulSoup
import requests
#formato y filtros
import numpy as np
import pandas as pd
#preprocesamiento
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
import unidecode

https://fcpython.com/blog/introduction-scraping-data-transfermarkt

Se sigue el link anterior como tutorial para scrapear la info.

headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2000"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

#Let's look at the first name in the Players list.
print(Players[0].text)

Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

print(Values[0].text)

PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

El codigo anterior ejemplifica el scrapping para obtener el nombre del jugador y el costo de su traspaso, ordenado de mayor a menor traspaso durante el anio 2000

# 2018

In [2]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2018 = [urls['href'] for urls in lista_de_interes]
urls_2018 = pd.Series(urls_2018).unique()

In [4]:
#check de numero de equipos
len(urls_2018)

26

In [5]:
# ligas para ir al equipo de interes.
urls_2018

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2018',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2018',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2018',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2018',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2018',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2018',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2018',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2018',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2018',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2018',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2018',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2018',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2018',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2018',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2018',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2018',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2018',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2018',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2018',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2018',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2018',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2018',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2018',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2018',
       '/club-atletico-san-martin-tucuman-/startseite/verein/12709/saison_id/2018',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2018'],
      dtype=object)

In [6]:
requests.get(url_madre+urls_2018[0], headers=headers)

# 2017

In [7]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2017"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [8]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2017 = [urls['href'] for urls in lista_de_interes]
urls_2017 = pd.Series(urls_2017).unique()

In [9]:
#check de numero de equipos
len(urls_2017)

28

In [10]:
# ligas para ir al equipo de interes.
urls_2017

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2017',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2017',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2017',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2017',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2017',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2017',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2017',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2017',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2017',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2017',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2017',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2017',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2017',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2017',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2017',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2017',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2017',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2017',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2017',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2017',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2017',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2017',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2017',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2017',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2017',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2017',
       '/club-atletico-chacarita-juniors/startseite/verein/2154/saison_id/2017',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2017'],
      dtype=object)

In [11]:
requests.get(url_madre+urls_2017[0], headers=headers)

# 2016

In [12]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2016"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [13]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2016 = [urls['href'] for urls in lista_de_interes]
urls_2016 = pd.Series(urls_2016).unique()

In [14]:
#check de numero de equipos
len(urls_2016)

30

In [15]:
# ligas para ir al equipo de interes.
urls_2016

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2016',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2016',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2016',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2016',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2016',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2016',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2016',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2016',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2016',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2016',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2016',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2016',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2016',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2016',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2016',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2016',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2016',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2016',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2016',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2016',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2016',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2016',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2016',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2016',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2016',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2016',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2016',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2016',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2016',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2016'],
      dtype=object)

In [16]:
requests.get(url_madre+urls_2017[0], headers=headers)

# 2015

In [17]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2015"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [18]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2015 = [urls['href'] for urls in lista_de_interes]
urls_2015 = pd.Series(urls_2015).unique()

In [19]:
#check de numero de equipos
len(urls_2015)

30

In [20]:
# ligas para ir al equipo de interes.
urls_2015

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2015',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2015',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2015',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2015',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2015',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2015',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2015',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2015',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2015',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2015',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2015',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2015',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2015',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2015',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2015',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2015',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2015',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2015',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2015',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2015',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2015',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2015',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2015',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2015',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2015',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2015',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2015',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2015',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2015',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2015'],
      dtype=object)

In [21]:
requests.get(url_madre+urls_2015[0], headers=headers)

# Valor jugadores 
Ya que tengo las URLS de interes de cada equipo ahora falta recopilar la informacion de cada jugador en un DataFrame que tenga las columnas de jugador, valor, equipo y fecha de nacimiento.

# 2018

In [215]:
# pageTree = requests.get(url_madre+urls_2018[25], headers=headers)
# pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
# #     print(url_madre+url)

# # tabla de jugadores con cuadrito de jugador
# Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
# # cuadrito de valor
# Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

# Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

# # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
# # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
# PlayersList = []
# preview = 'nada'
# for i in range(len(Players)):
#     if len(Players[i].text.split()) == 2:
#         if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[1]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     elif len(Players[i].text.split()) == 3:
#         if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[2]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     else:
#         continue
# # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
# ValuesList = [Values[val].text for val in range(len(Values))]
# #extraccion de fecha de nacimiento
# FecNacLIst = []
# for i in Fec_Nac:
#     if len(i.text.split()) == 0:
#         continue
#     else:
#         try:
#             FecNacLIst.append(pd.to_datetime(i.text.split()[0]))
#         except ValueError:
#             continue

# # se generan dataframes para cruzar
# a = pd.DataFrame(PlayersList,columns=['jugadores'])
# b = pd.DataFrame(ValuesList,columns=['valor'])
# c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
# #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
# df = pd.concat([a,b,c],1).dropna()
# print(pageSoup.find_all("h1")[0].text.split('\n')[1])
# df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
# df_2018 = pd.concat([df_2018, df])

In [216]:
%%time
df_2018 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2018:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2018 = pd.concat([df_2018, df])

Club Atlético Boca Juniors

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:62: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético River Plate
Club Atlético Independiente
Racing Club
Club Atlético Vélez Sarsfield
Defensa y Justicia
Club Atlético San Lorenzo de Almagro
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético Talleres
Club Atlético Lanús
Club Atlético Rosario Central
Club Atlético Colón
Club Atlético Huracán
Asociación Atlética Argentinos Juniors
Club Atlético Unión (Santa Fe)
Club Atlético Belgrano
Club Atlético Tigre
Club Atlético Aldosivi
Club Atlético Banfield
Club Atlético Newell's Old Boys
Club Estudiantes de La Plata
Club de Gimnasia y Esgrima La Plata
Club Atlético Tucumán
Club Atlético San Martín (SJ)
Club Atlético San Martín (Tucumán)
Club Atlético Patronato
CPU times: user 6.36 s, sys: 36.1 ms, total: 6.39 s
Wall time: 46.1 s

In [217]:
df_2018.reset_index(drop=True,inplace=True)
df_2018.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2018.valor.str.split().str[0], df_2018.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2018['value_2018'] = new_value

In [218]:
df_2018.sample(5)

,equipo,fecha_nacimiento,jugadores,valor,value_2018
578,Club de Gimnasia y Esgrima La Plata,1993-03-29,Lorenzo Faravelli,"1,50 mill. €",1.50
245,Club Atlético Talleres,1996-09-15,Joel Soñora,200 miles €,0.20
650,Club Atlético San Martín (Tucumán),1981-05-07,Jorge Carranza,50 miles €,0.05
26,Club Atlético Boca Juniors,1987-03-18,Mauro Zárate,"2,00 mill. €",2.00
594,Club Atlético Tucumán,1978-06-26,Cristian Lucchetti,100 miles €,0.10

# 2017

In [219]:
# pageTree = requests.get(url_madre+urls_2017[5], headers=headers)
# pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
# #     print(url_madre+url)

# # tabla de jugadores con cuadrito de jugador
# Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
# # cuadrito de valor
# Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

# Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

# # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
# # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
# PlayersList = []
# preview = 'nada'
# for i in range(len(Players)):
#     if len(Players[i].text.split()) == 2:
#         if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[1]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     elif len(Players[i].text.split()) == 3:
#         if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
#             preview = Players[i].text.split()[2]
#             PlayersList.append(Players[i].text)
#         else:
#             continue
#     else:
#         continue
# # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
# ValuesList = [Values[val].text for val in range(len(Values))]
# #extraccion de fecha de nacimiento
# FecNacLIst = []
# for i in Fec_Nac:
#     if len(i.text.split()) == 0:
#         continue
#     else:
#         try:
#             FecNacLIst.append(pd.to_datetime(i.text.split()[0]))
#         except ValueError:
#             continue

# # se generan dataframes para cruzar
# a = pd.DataFrame(PlayersList,columns=['jugadores'])
# b = pd.DataFrame(ValuesList,columns=['valor'])
# c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
# #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
# df = pd.concat([a,b,c],1).dropna()
# print(pageSoup.find_all("h1")[0].text.split('\n')[1])
# df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
# df_2017 = pd.concat([df_2017, df])

In [220]:
%%time
df_2017 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2017:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2017 = pd.concat([df_2017, df])

Club Atlético River Plate

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético Boca Juniors
Club Atlético Independiente
Racing Club
Club Atlético San Lorenzo de Almagro
Club Atlético Lanús
Club Atlético Colón
Club Atlético Huracán
Club Atlético Rosario Central
Club Estudiantes de La Plata
Club Atlético Vélez Sarsfield
Defensa y Justicia
Club Atlético Tucumán
Club Atlético Talleres
Club Atlético Belgrano
Club Atlético Tigre
Club Atlético Newell's Old Boys
Club Atlético Banfield
Club de Gimnasia y Esgrima La Plata
Club Atlético Unión (Santa Fe)
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético San Martín (SJ)
Club Atlético Patronato
Arsenal Fútbol Club
Asociación Atlética Argentinos Juniors
Club Olimpo
Club Atlético Chacarita Juniors
Club Atlético Temperley
CPU times: user 6.45 s, sys: 31.5 ms, total: 6.48 s
Wall time: 1min 5s

In [221]:
df_2017.reset_index(drop=True,inplace=True)
df_2017.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2017.valor.str.split().str[0], df_2017.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2017['value_2017'] = new_value

In [222]:
df_2017['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2017.jugadores]

df_2017.to_pickle('df_2017.pkl')

In [223]:
df_2017.tail()

,equipo,fecha_nacimiento,jugadores,valor,value_2017
1075,Club Atlético Temperley,1987-10-02,Juan Sanchez,400 miles €,0.4
1076,Club Atlético Temperley,1992-08-21,Ramiro Costa,300 miles €,0.3
1077,Club Atlético Temperley,1995-05-03,Santiago Giordana,200 miles €,0.2
1078,Club Atlético Temperley,1999-09-19,Franco Sosa,NaN,NaN
1079,Club Atlético Temperley,1995-03-24,Lucas Delgado,NaN,NaN

# 2016

In [224]:
%%time
df_2016 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2016:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst,columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2016 = pd.concat([df_2016, df])

Club Atlético River Plate

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:63: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético Boca Juniors
Racing Club
Club Atlético San Lorenzo de Almagro
Club Atlético Independiente
Club Atlético Rosario Central
Club Estudiantes de La Plata
Club Atlético Newell's Old Boys
Club de Gimnasia y Esgrima La Plata
Club Atlético Vélez Sarsfield
Club Atlético Lanús
Club Atlético Belgrano
Defensa y Justicia
Club Atlético Tucumán
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético Colón
Club Atlético Talleres
Club Atlético Huracán
Arsenal Fútbol Club
Club Atlético Tigre
Club Atlético Banfield
Club Atlético San Martín (SJ)
Club Atlético Sarmiento (Junin)
Quilmes Atlético Club
Club Atlético Temperley
Club Atlético Unión (Santa Fe)
Club Olimpo
Club Atlético Aldosivi
Club Atlético Patronato
Atlético de Rafaela
CPU times: user 6.88 s, sys: 68.1 ms, total: 6.95 s
Wall time: 1min 14s

In [225]:
df_2016.reset_index(drop=True,inplace=True)
df_2016.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2016.valor.str.split().str[0], df_2016.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2016['value_2016'] = new_value

In [226]:
df_2016['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2016.jugadores]

df_2016.to_pickle('df_2016.pkl')

In [227]:
df_2016.tail()

,equipo,fecha_nacimiento,jugadores,valor,value_2016
1225,Atlético de Rafaela,1996-01-16,Enzo Copetti,NaN,NaN
1226,Atlético de Rafaela,1989-11-11,Robin Ramirez,750 miles €,0.75
1227,Atlético de Rafaela,1992-06-06,Leandro Diaz,600 miles €,0.60
1228,Atlético de Rafaela,1992-08-21,Ramiro Costa,300 miles €,0.30
1229,Atlético de Rafaela,1986-09-20,Sergio Almiron,NaN,NaN

# 2015

In [228]:
df_2015 =None

In [229]:
%%time
df_2015 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2015:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
    #     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    Fec_Nac = pageSoup.find_all("td", {"class": "zentriert"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
#         print(Players[i].text.split())
        if len(Players[i].text.split()) == 2:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 3:
            if Players[i].text.split()[2] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[2]
                PlayersList.append(Players[i].text)
            else:
                continue
        elif len(Players[i].text.split()) == 4:
            if Players[i].text.split()[3] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[3]
                PlayersList.append(Players[i].text)
            else:
                continue
        else:
            continue
    # los valores los toma adecuadamente VALOR DE TRANSFERENCIA
    ValuesList = [Values[val].text for val in range(len(Values))]
    #extraccion de fecha de nacimiento
    FecNacLIst = []
    for i in Fec_Nac:
        if len(i.text.split()) == 0:
            continue
        else:
            if len(i.text.split()[0])== 10:
                FecNacLIst.append(pd.to_datetime(i.text.split()[0], dayfirst=True))
            else:
                continue

    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    c = pd.DataFrame(FecNacLIst, columns=['fecha_nacimiento'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b,c],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2015 = pd.concat([df_2015, df])

Club Atlético Boca Juniors

/home/serch/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:64: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Club Atlético River Plate
Club Atlético San Lorenzo de Almagro
Club Atlético Independiente
Racing Club
Club Atlético Lanús
Arsenal Fútbol Club
Club Atlético Newell's Old Boys
Club Atlético Tigre
Club Atlético Rosario Central
Club Atlético Belgrano
Club Atlético Huracán
Club de Gimnasia y Esgrima La Plata
Club Estudiantes de La Plata
Club Atlético Colón
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético San Martín (SJ)
Defensa y Justicia
Club Atlético Sarmiento (Junin)
Quilmes Atlético Club
Club Olimpo
Club Atlético Banfield
Club Atlético Tucumán
Asociación Atlética Argentinos Juniors
Club Atlético Vélez Sarsfield
Atlético de Rafaela
Club Atlético Unión (Santa Fe)
Club Atlético Temperley
Club Atlético Aldosivi
Club Atlético Patronato
CPU times: user 5.93 s, sys: 63.7 ms, total: 5.99 s
Wall time: 1min 7s

In [230]:
df_2015.reset_index(drop=True,inplace=True)
df_2015.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2015.valor.str.split().str[0], df_2015.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i))/ 100)
        
df_2015['value_2015'] = new_value

In [231]:
df_2015['jugadores'] = [unidecode.unidecode(nombre) for nombre in df_2015.jugadores]

df_2015.to_pickle('df_2015.pkl')

In [232]:
df_2015.head()

,equipo,fecha_nacimiento,jugadores,valor,value_2015
0,Club Atlético Boca Juniors,1981-06-26,Agustin Orion,"1,00 mill. €",1.000
1,Club Atlético Boca Juniors,1987-09-30,Guillermo Sara,"1,00 mill. €",1.000
2,Club Atlético Boca Juniors,1994-05-08,Bruno Galvan,25 miles €,0.025
3,Club Atlético Boca Juniors,1991-04-18,Ramiro Martinez,NaN,NaN
4,Club Atlético Boca Juniors,1989-10-18,Fernando Tobio,"2,00 mill. €",2.000

In [233]:
df_2015[df_2015.jugadores == 'Tabare Viudez']

,equipo,fecha_nacimiento,jugadores,valor,value_2015
73,Club Atlético River Plate,1989-09-08,Tabare Viudez,"4,25 mill. €",4.25