In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8' )

'en_US.UTF-8'

https://fcpython.com/blog/introduction-scraping-data-transfermarkt

Se sigue el link anterior como tutorial para scrapear la info.

In [3]:
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/transfers/transferrekorde/statistik/top/plus/0/galerie/0?saison_id=2000"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})

#Let's look at the first name in the Players list.
print(Players[0].text)

Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

print(Values[0].text)

PlayersList = []
ValuesList = []

for i in range(0,25):
    PlayersList.append(Players[i].text)
    ValuesList.append(Values[i].text)
    
df = pd.DataFrame({"Players":PlayersList,"Values":ValuesList})

df.head()

Luís Figo
£54.00m

             Players   Values
0          Luís Figo  £54.00m
1      Hernán Crespo  £51.13m
2      Marc Overmars  £36.00m
3  Gabriel Batistuta  £32.54m
4     Nicolas Anelka  £31.05m

El codigo anterior ejemplifica el scrapping para obtener el nombre del jugador y el costo de su traspaso, ordenado de mayor a menor traspaso durante el anio 2000

# 2018

In [2]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2018 = [urls['href'] for urls in lista_de_interes]
urls_2018 = pd.Series(urls_2018).unique()

In [4]:
#check de numero de equipos
len(urls_2018)

26

In [5]:
# ligas para ir al equipo de interes.
urls_2018

array(['/club-atletico-boca-juniors/startseite/verein/189/saison_id/2018',
       '/club-atletico-river-plate/startseite/verein/209/saison_id/2018',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2018',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2018',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2018',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2018',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2018',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2018',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2018',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2018',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2018',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2018',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2018',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2018',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2018',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2018',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2018',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2018',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2018',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2018',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2018',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2018',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2018',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2018',
       '/club-atletico-san-martin-tucuman-/startseite/verein/12709/saison_id/2018',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2018'], dtype=object)

In [6]:
requests.get(url_madre+urls_2018[0], headers=headers)

# 2017

In [7]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2017"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [8]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2017 = [urls['href'] for urls in lista_de_interes]
urls_2017 = pd.Series(urls_2017).unique()

In [9]:
#check de numero de equipos
len(urls_2017)

28

In [10]:
# ligas para ir al equipo de interes.
urls_2017

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2017',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2017',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2017',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2017',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2017',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2017',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2017',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2017',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2017',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2017',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2017',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2017',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2017',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2017',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2017',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2017',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2017',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2017',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2017',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2017',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2017',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2017',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2017',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2017',
       '/argentinos-juniors/startseite/verein/1030/saison_id/2017',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2017',
       '/club-atletico-chacarita-juniors/startseite/verein/2154/saison_id/2017',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2017'], dtype=object)

In [11]:
requests.get(url_madre+urls_2017[0], headers=headers)

# 2016

In [12]:
url_madre = 'https://www.transfermarkt.es'
#header para que no te cache que eres una webscrapping
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}
#Liga De Interes y anio
page = "https://www.transfermarkt.es/primera-division/startseite/wettbewerb/AR1N/plus/?saison_id=2016"
#pedida de datos
pageTree = requests.get(page, headers=headers)
#contenido de pagina
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [13]:
#obtencion de urls para scrapear el predio de cada uno
# El [1] Se obtuvo a ojo viendo cual era la tabla de interes.
lista_de_interes = pageSoup.find_all('tbody')[1].find_all('a', {"class": 'vereinprofil_tooltip'}, href=True)
urls_2016 = [urls['href'] for urls in lista_de_interes]
urls_2016 = pd.Series(urls_2016).unique()

In [14]:
#check de numero de equipos
len(urls_2016)

30

In [15]:
# ligas para ir al equipo de interes.
urls_2016

array(['/club-atletico-river-plate/startseite/verein/209/saison_id/2016',
       '/club-atletico-boca-juniors/startseite/verein/189/saison_id/2016',
       '/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2016',
       '/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2016',
       '/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2016',
       '/club-atletico-rosario-central/startseite/verein/1418/saison_id/2016',
       '/estudiantes-de-la-plata/startseite/verein/288/saison_id/2016',
       '/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2016',
       '/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2016',
       '/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2016',
       '/club-atletico-lanus/startseite/verein/333/saison_id/2016',
       '/belgrano-de-cordoba/startseite/verein/2417/saison_id/2016',
       '/defensa-y-justicia/startseite/verein/2402/saison_id/2016',
       '/club-atletico-tucuman/startseite/verein/14554/saison_id/2016',
       '/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2016',
       '/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2016',
       '/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2016',
       '/club-atletico-huracan/startseite/verein/2063/saison_id/2016',
       '/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2016',
       '/club-atletico-tigre/startseite/verein/11831/saison_id/2016',
       '/club-atletico-banfield/startseite/verein/830/saison_id/2016',
       '/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2016',
       '/club-atletico-sarmiento-junin-/startseite/verein/12454/saison_id/2016',
       '/quilmes-atletico-club/startseite/verein/1826/saison_id/2016',
       '/club-atletico-temperley/startseite/verein/14542/saison_id/2016',
       '/ca-union-santa-fe/startseite/verein/7097/saison_id/2016',
       '/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2016',
       '/club-atletico-aldosivi-mdp-/startseite/verein/12301/saison_id/2016',
       '/club-atletico-patronato/startseite/verein/19806/saison_id/2016',
       '/atletico-de-rafaela/startseite/verein/10233/saison_id/2016'], dtype=object)

In [16]:
requests.get(url_madre+urls_2017[0], headers=headers)

# Valor jugadores 
Ya que tengo las URLS de interes de cada equipo ahora falta recopilar la informacion de cada jugador en un DataFrame que tenga las columnas de jugador, valor y anio

pageTree = requests.get(url_madre+urls_2018[0], headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
print(url_madre+urls_2018[1])

# tabla de jugadores con cuadrito de jugador
Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
# cuadrito de valor
Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

# se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
# y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
PlayersList = []
preview = 'nada'
for i in range(len(Players)):
    if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
        preview = Players[i].text.split()[1]
        PlayersList.append(Players[i].text)
    else:
        continue
# los valores los toma adecuadamente
ValuesList = [Values[val].text for val in range(len(Values))]
# se generan dataframes para cruzar
a = pd.DataFrame(PlayersList,columns=['Jugadores'])
b = pd.DataFrame(ValuesList,columns=['Valor'])
#se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
df = pd.concat([a,b],1).dropna()
df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
df

In [17]:
# %%time
df_2018 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2018:

    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
#     print(url_madre+url)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
        if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
            preview = Players[i].text.split()[1]
            PlayersList.append(Players[i].text)
        else:
            continue
    # los valores los toma adecuadamente
    ValuesList = [Values[val].text for val in range(len(Values))]
    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n')[1])
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2018 = pd.concat([df_2018, df])

Club Atlético Boca Juniors
Club Atlético River Plate
Club Atlético Independiente
Racing Club
Club Atlético Vélez Sarsfield
Defensa y Justicia
Club Atlético San Lorenzo de Almagro
Club Deportivo Godoy Cruz Antonio Tomba
Club Atlético Talleres
Club Atlético Lanús
Club Atlético Rosario Central
Club Atlético Colón
Asociación Atlética Argentinos Juniors
Club Atlético Huracán
Club Atlético Belgrano
Club Atlético Tigre
Club Atlético Aldosivi
Club Atlético Banfield
Club Atlético Unión (Santa Fe)
Club Atlético Newell's Old Boys
Club de Gimnasia y Esgrima La Plata
Club Estudiantes de La Plata
Club Atlético Tucumán
Club Atlético San Martín (SJ)
Club Atlético San Martín (Tucumán)
Club Atlético Patronato

In [18]:
df_2018.reset_index(drop=True,inplace=True)
df_2018.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2018.valor.str.split().str[0], df_2018.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i)))
        
df_2018['value_2018'] = new_value

In [19]:
df_2018

,jugadores,valor,equipo,value_2018
0,Esteban Andrada,"5,00 mill. €",Club Atlético Boca Juniors,500.000
1,Agustín Rossi,"2,75 mill. €",Club Atlético Boca Juniors,275.000
2,Marcos Díaz,"2,00 mill. €",Club Atlético Boca Juniors,200.000
3,Manuel Roffo,150 miles €,Club Atlético Boca Juniors,0.150
4,Javier Bustillos,75 miles €,Club Atlético Boca Juniors,0.075
5,Carlos Izquierdoz,"3,00 mill. €",Club Atlético Boca Juniors,300.000
6,Lisandro López,"2,50 mill. €",Club Atlético Boca Juniors,250.000
7,Paolo Goltz,"1,50 mill. €",Club Atlético Boca Juniors,150.000
8,Frank Fabra,"4,50 mill. €",Club Atlético Boca Juniors,450.000
9,Júnior Alonso,"3,00 mill. €",Club Atlético Boca Juniors,300.000
10,Emmanuel Más,"2,00 mill. €",Club Atlético Boca Juniors,200.000
11,Julio Buffarini,"2,00 mill. €",Club Atlético Boca Juniors,200.000
12,Marcelo Weigandt,75 miles €,Club Atlético Boca Juniors,0.075
13,Wilmar Barrios,"12,00 mill. €",Club Atlético Boca Juniors,1200.000
14,Iván Marcone,"4,50 mill. €",Club Atlético Boca Juniors,450.000
15,Julián Chicco,"1,00 mill. €",Club Atlético Boca Juniors,100.000
16,Jorman Campuzano,800 miles €,Club Atlético Boca Juniors,0.800
17,Nahitan Nández,"12,50 mill. €",Club Atlético Boca Juniors,1250.000
18,Agustín Almendra,"5,00 mill. €",Club Atlético Boca Juniors,500.000
19,Fernando Gago,500 miles €,Club Atlético Boca Juniors,0.500
20,Emanuel Reynoso,"4,00 mill. €",Club Atlético Boca Juniors,400.000
21,Alexis Messidoro,250 miles €,Club Atlético Boca Juniors,0.250
22,Agustín Obando,75 miles €,Club Atlético Boca Juniors,0.075
23,Cristian Pavón,"20,00 mill. €",Club Atlético Boca Juniors,2000.000
24,Sebastián Villa,"3,50 mill. €",Club Atlético Boca Juniors,350.000
25,Mauro Zárate,"2,00 mill. €",Club Atlético Boca Juniors,200.000
26,Carlos Tévez,"1,00 mill. €",Club Atlético Boca Juniors,100.000
27,Darío Benedetto,"15,00 mill. €",Club Atlético Boca Juniors,1500.000
28,Ramón Ábila,"6,00 mill. €",Club Atlético Boca Juniors,600.000
29,Mateo Retegui,150 miles €,Club Atlético Boca Juniors,0.150
...,...,...,...,...
666,Luciano Pons,200 miles €,Club Atlético San Martín (Tucumán),0.200
667,Sebastián Bértoli,100 miles €,Club Atlético Patronato,0.100
668,Federico Costa,100 miles €,Club Atlético Patronato,0.100
669,Emanuel Alarcón,50 miles €,Club Atlético Patronato,0.050
670,Matías Escudero,350 miles €,Club Atlético Patronato,0.350
671,Agustín Sandona,350 miles €,Club Atlético Patronato,0.350
672,Dylan Gissi,300 miles €,Club Atlético Patronato,0.300
673,Walter Andrade,125 miles €,Club Atlético Patronato,0.125
674,Renzo Vera,125 miles €,Club Atlético Patronato,0.125
675,Nicolás Pantaleone,200 miles €,Club Atlético Patronato,0.200
676,Bruno Urribarri,125 miles €,Club Atlético Patronato,0.125
677,Martín Aruga,25 miles €,Club Atlético Patronato,0.025
678,Lucas Ceballos,350 miles €,Club Atlético Patronato,0.350
679,Lautaro Geminiani,200 miles €,Club Atlético Patronato,0.200
680,Federico Bravo,325 miles €,Club Atlético Patronato,0.325
681,Gastón Gil Romero,250 miles €,Club Atlético Patronato,0.250
682,Damián Lemos,200 miles €,Club Atlético Patronato,0.200
683,Santiago Briñone,150 miles €,Club Atlético Patronato,0.150
684,Marcos Minetti,100 miles €,Club Atlético Patronato,0.100
685,Pablo Ledesma,250 miles €,Club Atlético Patronato,0.250
686,Abel Peralta,175 miles €,Club Atlético Patronato,0.175
687,Gabriel Compagnucci,50 miles €,Club Atlético Patronato,0.050
688,Jacobo Mansilla,400 miles €,Club Atlético Patronato,0.400
689,Gabriel Carabajal,500 miles €,Club Atlético Patronato,0.500
690,Agustín Guiffrey,50 miles €,Club Atlético Patronato,0.050
691,Ignacio Cacheiro,400 miles €,Club Atlético Patronato,0.400
692,Germán Berterame,150 miles €,Club Atlético Patronato,0.150
693,Lautaro Comas,150 miles €,Club Atlético Patronato,0.150
694,Francisco Apaolaza,750 miles €,Club Atlético Patronato,0.750
695,Ezequiel Rescaldani,400 miles €,Club Atlético Patronato,0.400

In [34]:
# %%time
df_2017 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for i,url in enumerate(urls_2017):
    
    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
#     print(url_madre+url,i)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
        if len(Players[i].text.split()) == 1:
            preview = Players[i].text.split()[0]
            PlayersList.append(Players[i].text)
        else:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
    # los valores los toma adecuadamente
    ValuesList = [Values[val].text for val in range(len(Values))]
    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n'))
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2017 = pd.concat([df_2017, df])

https://www.transfermarkt.es/club-atletico-river-plate/startseite/verein/209/saison_id/2017 0
['', 'Club Atlético River Plate', '']
https://www.transfermarkt.es/club-atletico-boca-juniors/startseite/verein/189/saison_id/2017 1
['', 'Club Atlético Boca Juniors', '']
https://www.transfermarkt.es/ca-independiente-de-avellaneda/startseite/verein/1234/saison_id/2017 2
['', 'Club Atlético Independiente', '']
https://www.transfermarkt.es/racing-club-de-avellaneda/startseite/verein/1444/saison_id/2017 3
['', 'Racing Club', '']
https://www.transfermarkt.es/club-atletico-san-lorenzo-de-almagro/startseite/verein/1775/saison_id/2017 4
['', 'Club Atlético San Lorenzo de Almagro', '']
https://www.transfermarkt.es/club-atletico-lanus/startseite/verein/333/saison_id/2017 5
['', 'Club Atlético Lanús', '']
https://www.transfermarkt.es/club-atletico-colon-santa-fe-/startseite/verein/1070/saison_id/2017 6
['', 'Club Atlético Colón', '']
https://www.transfermarkt.es/club-atletico-huracan/startseite/verein/2063/saison_id/2017 7
['', 'Club Atlético Huracán', '']
https://www.transfermarkt.es/club-atletico-rosario-central/startseite/verein/1418/saison_id/2017 8
['', 'Club Atlético Rosario Central', '']
https://www.transfermarkt.es/estudiantes-de-la-plata/startseite/verein/288/saison_id/2017 9
['', 'Club Estudiantes de La Plata', '']
https://www.transfermarkt.es/club-atletico-velez-sarsfield/startseite/verein/1029/saison_id/2017 10
['', 'Club Atlético Vélez Sarsfield', '']
https://www.transfermarkt.es/defensa-y-justicia/startseite/verein/2402/saison_id/2017 11
['', 'Defensa y Justicia', '']
https://www.transfermarkt.es/club-atletico-tucuman/startseite/verein/14554/saison_id/2017 12
['', 'Club Atlético Tucumán', '']
https://www.transfermarkt.es/talleres-de-cordoba-ca/startseite/verein/3938/saison_id/2017 13
['', 'Club Atlético Talleres', '']
https://www.transfermarkt.es/belgrano-de-cordoba/startseite/verein/2417/saison_id/2017 14
['', 'Club Atlético Belgrano', '']
https://www.transfermarkt.es/club-atletico-tigre/startseite/verein/11831/saison_id/2017 15
['', 'Club Atlético Tigre', '']
https://www.transfermarkt.es/club-atletico-newells-old-boys/startseite/verein/1286/saison_id/2017 16
['', "Club Atlético Newell's Old Boys", '']
https://www.transfermarkt.es/club-atletico-banfield/startseite/verein/830/saison_id/2017 17
['', 'Club Atlético Banfield', '']
https://www.transfermarkt.es/club-de-gimnasia-y-esgrima-la-plata/startseite/verein/1106/saison_id/2017 18
['', 'Club de Gimnasia y Esgrima La Plata', '']
https://www.transfermarkt.es/ca-union-santa-fe/startseite/verein/7097/saison_id/2017 19
['', 'Club Atlético Unión (Santa Fe)', '']
https://www.transfermarkt.es/club-deportivo-godoy-cruz/startseite/verein/12574/saison_id/2017 20
['', 'Club Deportivo Godoy Cruz Antonio Tomba', '']
https://www.transfermarkt.es/club-atletico-san-martin-sj-/startseite/verein/10511/saison_id/2017 21
['', 'Club Atlético San Martín (SJ)', '']
https://www.transfermarkt.es/club-atletico-patronato/startseite/verein/19806/saison_id/2017 22
['', 'Club Atlético Patronato', '']
https://www.transfermarkt.es/arsenal-de-sarandi-fc/startseite/verein/4673/saison_id/2017 23
['', 'Arsenal Fútbol Club', '']
https://www.transfermarkt.es/argentinos-juniors/startseite/verein/1030/saison_id/2017 24
['', 'Asociación Atlética Argentinos Juniors', '']
https://www.transfermarkt.es/olimpo-de-bahia-blanca/startseite/verein/7468/saison_id/2017 25
['', 'Club Olimpo', '']
https://www.transfermarkt.es/club-atletico-chacarita-juniors/startseite/verein/2154/saison_id/2017 26
['', 'Club Atlético Chacarita Juniors', '']
https://www.transfermarkt.es/club-atletico-temperley/startseite/verein/14542/saison_id/2017 27
['', 'Club Atlético Temperley', '']

In [35]:
df_2017.reset_index(drop=True,inplace=True)
df_2017.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2017.valor.str.split().str[0], df_2017.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i)))
        
df_2017['value_2017'] = new_value

In [36]:
df_2017

,jugadores,valor,equipo,value_2017
0,Augusto Batalla,"3,00 mill. €",Club Atlético River Plate,300.000
1,Franco Armani,"1,60 mill. €",Club Atlético River Plate,160.000
2,Germán Lux,800 miles €,Club Atlético River Plate,0.800
3,Enrique Bologna,400 miles €,Club Atlético River Plate,0.400
4,Augusto Aguirre,NaN,Club Atlético River Plate,NaN
5,Jonathan Maidana,"3,00 mill. €",Club Atlético River Plate,300.000
6,Luciano Lollo,"2,50 mill. €",Club Atlético River Plate,250.000
7,Alexander Barboza,"1,80 mill. €",Club Atlético River Plate,180.000
8,Lucas Martínez,"1,75 mill. €",Club Atlético River Plate,175.000
9,Javier Pinola,400 miles €,Club Atlético River Plate,0.400
10,Héctor Martínez,NaN,Club Atlético River Plate,NaN
11,Kevin Sibille,NaN,Club Atlético River Plate,NaN
12,Milton Casco,"3,20 mill. €",Club Atlético River Plate,320.000
13,Marcelo Saracchi,750 miles €,Club Atlético River Plate,0.750
14,Nahuel Gallardo,NaN,Club Atlético River Plate,NaN
15,Jorge Moreira,"2,50 mill. €",Club Atlético River Plate,250.000
16,Gonzalo Montiel,500 miles €,Club Atlético River Plate,0.500
17,Santiago Vera,NaN,Club Atlético River Plate,NaN
18,Iván Rossi,"1,50 mill. €",Club Atlético River Plate,150.000
19,Bruno Zuculini,"1,20 mill. €",Club Atlético River Plate,120.000
20,Leonardo Ponzio,500 miles €,Club Atlético River Plate,0.500
21,Santiago Sosa,NaN,Club Atlético River Plate,NaN
22,Enzo Pérez,"8,00 mill. €",Club Atlético River Plate,800.000
23,Ignacio Fernández,"4,00 mill. €",Club Atlético River Plate,400.000
24,Ariel Rojas,"1,20 mill. €",Club Atlético River Plate,120.000
25,Exequiel Palacios,300 miles €,Club Atlético River Plate,0.300
26,Zacarías Morán,50 miles €,Club Atlético River Plate,0.050
27,Cristian Ferreira,NaN,Club Atlético River Plate,NaN
28,Camilo Mayada,"2,30 mill. €",Club Atlético River Plate,230.000
29,Juan Quintero,"3,50 mill. €",Club Atlético River Plate,350.000
...,...,...,...,...
1053,Lucas Mulazzi,NaN,Club Atlético Temperley,NaN
1054,Williams Riveros,NaN,Club Atlético Temperley,NaN
1055,Gonzalo Escobar,400 miles €,Club Atlético Temperley,0.400
1056,Matías Orihuela,400 miles €,Club Atlético Temperley,0.400
1057,Marcos Pinto,250 miles €,Club Atlético Temperley,0.250
1058,Adrián Scifo,250 miles €,Club Atlético Temperley,0.250
1059,Rodi Ferreira,NaN,Club Atlético Temperley,NaN
1060,Agustín Sosa,NaN,Club Atlético Temperley,NaN
1061,Fernando Asmar,NaN,Club Atlético Temperley,NaN
1062,Franco Capalbo,NaN,Club Atlético Temperley,NaN
1063,Adrián Arregui,500 miles €,Club Atlético Temperley,0.500
1064,Rodrigo De Ciancio,175 miles €,Club Atlético Temperley,0.175
1065,Maximiliano Lugo,350 miles €,Club Atlético Temperley,0.350
1066,Federico Fattori,300 miles €,Club Atlético Temperley,0.300
1067,Darío Salina,NaN,Club Atlético Temperley,NaN
1068,Mathías Villasanti,NaN,Club Atlético Temperley,NaN
1069,Mauro Cerutti,NaN,Club Atlético Temperley,NaN
1070,Leonardo di Lorenzo,100 miles €,Club Atlético Temperley,0.100
1071,Ezequiel Montagna,750 miles €,Club Atlético Temperley,0.750
1072,Emiliano Ozuna,100 miles €,Club Atlético Temperley,0.100
1073,Fabián Muñoz,600 miles €,Club Atlético Temperley,0.600
1074,Fernando Brandán,500 miles €,Club Atlético Temperley,0.500
1075,Sebastián Martelli,50 miles €,Club Atlético Temperley,0.050
1076,Gaspar Gentile,NaN,Club Atlético Temperley,NaN
1077,Marcos Figueroa,"1,25 mill. €",Club Atlético Temperley,125.000
1078,Juan Sánchez,400 miles €,Club Atlético Temperley,0.400
1079,Ramiro Costa,300 miles €,Club Atlético Temperley,0.300
1080,Santiago Giordana,200 miles €,Club Atlético Temperley,0.200
1081,Franco Sosa,NaN,Club Atlético Temperley,NaN
1082,Lucas Delgado,NaN,Club Atlético Temperley,NaN

In [38]:
df_2016 = pd.DataFrame(columns=['jugadores','valor','equipo'])

for url in urls_2016:
    
    pageTree = requests.get(url_madre+url, headers=headers)
    pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
#     print(url_madre+url,i)

    # tabla de jugadores con cuadrito de jugador
    Players = pageSoup.find_all("a", {"class": "spielprofil_tooltip"})
    # cuadrito de valor
    Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})

    # se filtra la tabla de jugadores, dado que tiene 2 nombres uno con la inicial y el otro completo
    # y se filtran si ya estan en la lista dado que puede que agarre otra tabla con la misma clase
    PlayersList = []
    preview = 'nada'
    for i in range(len(Players)):
        if len(Players[i].text.split()) == 1:
            preview = Players[i].text.split()[0]
            PlayersList.append(Players[i].text)
        else:
            if Players[i].text.split()[1] != preview and Players[i].text not in set(PlayersList):
                preview = Players[i].text.split()[1]
                PlayersList.append(Players[i].text)
            else:
                continue
    # los valores los toma adecuadamente
    ValuesList = [Values[val].text for val in range(len(Values))]
    # se generan dataframes para cruzar
    a = pd.DataFrame(PlayersList,columns=['jugadores'])
    b = pd.DataFrame(ValuesList,columns=['valor'])
    #se apilan y se quitan jugadores extra que vienen con nombre de misma tabla
    df = pd.concat([a,b],1).dropna()
    print(pageSoup.find_all("h1")[0].text.split('\n'))
    df['equipo'] = pageSoup.find_all("h1")[0].text.split('\n')[1]
    df_2016 = pd.concat([df_2016, df])

['', 'Club Atlético River Plate', '']
['', 'Club Atlético Boca Juniors', '']
['', 'Racing Club', '']
['', 'Club Atlético San Lorenzo de Almagro', '']
['', 'Club Atlético Independiente', '']
['', 'Club Atlético Rosario Central', '']
['', 'Club Estudiantes de La Plata', '']
['', "Club Atlético Newell's Old Boys", '']
['', 'Club de Gimnasia y Esgrima La Plata', '']
['', 'Club Atlético Vélez Sarsfield', '']
['', 'Club Atlético Lanús', '']
['', 'Club Atlético Belgrano', '']
['', 'Defensa y Justicia', '']
['', 'Club Atlético Tucumán', '']
['', 'Club Deportivo Godoy Cruz Antonio Tomba', '']
['', 'Club Atlético Colón', '']
['', 'Club Atlético Talleres', '']
['', 'Club Atlético Huracán', '']
['', 'Arsenal Fútbol Club', '']
['', 'Club Atlético Tigre', '']
['', 'Club Atlético Banfield', '']
['', 'Club Atlético San Martín (SJ)', '']
['', 'Club Atlético Sarmiento (Junin)', '']
['', 'Quilmes Atlético Club', '']
['', 'Club Atlético Temperley', '']
['', 'Club Atlético Unión (Santa Fe)', '']
['', 'Club Olimpo', '']
['', 'Club Atlético Aldosivi', '']
['', 'Club Atlético Patronato', '']
['', 'Atlético de Rafaela', '']

In [39]:
df_2016.reset_index(drop=True,inplace=True)
df_2016.valor.replace('\xa0',np.nan,inplace=True)
new_value = []
for i,j in zip(df_2016.valor.str.split().str[0], df_2016.valor.str.split().str[1]):
    if type(i) == float:
        new_value.append(i)
    elif j == 'miles':
        new_value.append(int(locale.atoi(i))*0.001)
    elif i== '-':
        new_value.append(np.nan)
    else:
        new_value.append(float(locale.atoi(i)))
        
df_2016['value_2016'] = new_value

In [42]:
df_2016

,jugadores,valor,equipo,value_2016
0,Augusto Batalla,"2,50 mill. €",Club Atlético River Plate,250.000
1,Germán Lux,"1,00 mill. €",Club Atlético River Plate,100.000
2,Enrique Bologna,700 miles €,Club Atlético River Plate,0.700
3,Maximiliano Velazco,NaN,Club Atlético River Plate,NaN
4,Jonathan Maidana,"4,00 mill. €",Club Atlético River Plate,400.000
5,Luciano Lollo,"3,00 mill. €",Club Atlético River Plate,300.000
6,Leandro Vega,"2,50 mill. €",Club Atlético River Plate,250.000
7,Arturo Mina,"1,20 mill. €",Club Atlético River Plate,120.000
8,Javier Pinola,700 miles €,Club Atlético River Plate,0.700
9,Alexander Barboza,300 miles €,Club Atlético River Plate,0.300
10,Lucas Martínez,-,Club Atlético River Plate,NaN
11,Milton Casco,"3,20 mill. €",Club Atlético River Plate,320.000
12,Marcelo Saracchi,400 miles €,Club Atlético River Plate,0.400
13,Facundo Medina,NaN,Club Atlético River Plate,NaN
14,Luis Olivera,NaN,Club Atlético River Plate,NaN
15,Jorge Moreira,NaN,Club Atlético River Plate,NaN
16,Gonzalo Montiel,NaN,Club Atlético River Plate,NaN
17,Joaquín Arzura,"2,60 mill. €",Club Atlético River Plate,260.000
18,Leonardo Ponzio,800 miles €,Club Atlético River Plate,0.800
19,Nicolás Domingo,750 miles €,Club Atlético River Plate,0.750
20,Iván Rossi,550 miles €,Club Atlético River Plate,0.550
21,Enzo Pérez,"14,00 mill. €",Club Atlético River Plate,1400.000
22,Ignacio Fernández,"3,20 mill. €",Club Atlético River Plate,320.000
23,Ariel Rojas,"1,20 mill. €",Club Atlético River Plate,120.000
24,Exequiel Palacios,300 miles €,Club Atlético River Plate,0.300
25,Zacarías Morán,NaN,Club Atlético River Plate,NaN
26,Camilo Mayada,"2,40 mill. €",Club Atlético River Plate,240.000
27,Augusto Solari,"1,25 mill. €",Club Atlético River Plate,125.000
28,Andrés D'Alessandro,"2,50 mill. €",Club Atlético River Plate,250.000
29,Leonardo Pisculichi,"1,50 mill. €",Club Atlético River Plate,150.000
...,...,...,...,...
1200,Teodoro Paredes,NaN,Atlético de Rafaela,NaN
1201,Tomás Baroni,NaN,Atlético de Rafaela,NaN
1202,Mathías Abero,400 miles €,Atlético de Rafaela,0.400
1203,Nelson Benítez,300 miles €,Atlético de Rafaela,0.300
1204,Dimas Morales,350 miles €,Atlético de Rafaela,0.350
1205,Eros Medaglia,300 miles €,Atlético de Rafaela,0.300
1206,Lucas Blondel,NaN,Atlético de Rafaela,NaN
1207,Ángelo Martino,NaN,Atlético de Rafaela,NaN
1208,Santiago Paz,NaN,Atlético de Rafaela,NaN
1209,Enzo Gaggi,NaN,Atlético de Rafaela,NaN
1210,Walter Serrano,400 miles €,Atlético de Rafaela,0.400
1211,Mateo Castellano,350 miles €,Atlético de Rafaela,0.350
1212,Gianfranco Ferrero,NaN,Atlético de Rafaela,NaN
1213,Lucas Pittinari,600 miles €,Atlético de Rafaela,0.600
1214,Emiliano Romero,425 miles €,Atlético de Rafaela,0.425
1215,Diego Montiel,150 miles €,Atlético de Rafaela,0.150
1216,Facundo Soloa,NaN,Atlético de Rafaela,NaN
1217,Marco Borgnino,NaN,Atlético de Rafaela,NaN
1218,Kevin Itabel,"1,20 mill. €",Atlético de Rafaela,120.000
1219,Mariano Puch,300 miles €,Atlético de Rafaela,0.300
1220,Esteban Orfano,200 miles €,Atlético de Rafaela,0.200
1221,Gabriel Morales,300 miles €,Atlético de Rafaela,0.300
1222,Fernando Luna,150 miles €,Atlético de Rafaela,0.150
1223,Mauro Albertengo,NaN,Atlético de Rafaela,NaN
1224,Gabriel Gudiño,NaN,Atlético de Rafaela,NaN
1225,Enzo Copetti,NaN,Atlético de Rafaela,NaN
1226,Robin Ramírez,750 miles €,Atlético de Rafaela,0.750
1227,Leandro Díaz,600 miles €,Atlético de Rafaela,0.600
1228,Ramiro Costa,300 miles €,Atlético de Rafaela,0.300
1229,Sergio Almirón,NaN,Atlético de Rafaela,NaN